*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.analog{
    position: relative;
    width: 40rem;
    height: 40rem;
    border: 2px solid #000;
    border-radius: 50%;
    background: url(https://cssanimation.rocks/images/posts/clocks/ios_clock.svg) center;
    background-repeat: no-repeat;
    background-size: 90%;
   
}
 .saniye{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 12rem;
    border-radius: 15px;
    background-color: #000;
    transform: translateX(-50%);
    transform-origin: top;
}
.dakika{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 10rem;
    border-radius: 15px;
    background-color: rgb(247, 23, 23);
    transform: translateX(-50%);
    transform-origin: top;
}
.saat{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 7rem;
    border-radius: 15px;
    background-color: rgb(23, 247, 45);
    transform: translateX(-50%);
    transform-origin: top;

}
.nokta{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: black;
    transform: translateX(-50%);
    transform-origin: top;


}